@model InsurancePolicy.Models.User

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <div>
    <a href="@Url.Action("PolicyList", "User")">View Policies</a> |
    <a href="@Url.Action("ClaimList", "User")">View Claims</a> |
    <a href="@Url.Action("Logout", "User")">Log Out</a>
</div>
</div>
